USE [helpDeskDB]
GO
/****** Object:  Table [hd].[Agente]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Agente](
	[agenteId] [int] IDENTITY(1000,1) NOT NULL,
	[email] [nvarchar](320) NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[nivel] [int] NOT NULL,
	[tAbiertos] [tinyint] NULL,
	[telefono] [varchar](25) NULL,
	[passwordHash] [varbinary](32) NOT NULL,
	[passwordSalt] [varbinary](16) NOT NULL,
	[habilidades] [nvarchar](max) NULL,
 CONSTRAINT [PK__Agente__368B6315E30C1E71] PRIMARY KEY CLUSTERED 
(
	[agenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Agente__AB6E6164C5A32B69] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [hd].[Carga]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Carga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreadoPor] [bigint] NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[Cruce] [nvarchar](10) NULL,
	[Incoterm] [nvarchar](10) NULL,
	[Contract] [nvarchar](40) NULL,
	[Container] [nvarchar](40) NULL,
	[Sello] [nvarchar](40) NULL,
	[Invoice] [nvarchar](40) NULL,
	[Pedimento] [nvarchar](30) NULL,
	[Proveedor] [nvarchar](200) NULL,
	[Origen] [nvarchar](60) NULL,
	[Puerto] [nvarchar](60) NULL,
	[Naviera] [nvarchar](60) NULL,
	[ConexionesDemoras] [nvarchar](40) NULL,
	[ETD] [date] NULL,
	[ETA] [date] NULL,
	[FechaEstimDestino] [date] NULL,
	[UltimoDiaLibreDemoras] [date] NULL,
	[EntregaVacio] [date] NULL,
	[DiasGeneradosDemoras] [int] NULL,
	[FacturaDemoras] [nvarchar](40) NULL,
	[MontoUSDDemoras] [decimal](18, 2) NULL,
	[TCDemoras] [decimal](18, 4) NULL,
	[MontoDemorasMXN] [decimal](18, 2) NULL,
	[FacturaComercializadora] [nvarchar](40) NULL,
	[FechaDespacho] [date] NULL,
	[FechaPagoPedimento] [date] NULL,
	[Planta] [int] NULL,
	[Lote] [nvarchar](60) NULL,
	[FechaProduccion] [date] NULL,
	[FechaCaducidad] [date] NULL,
	[Empresa] [nvarchar](100) NULL,
	[Codigo] [nvarchar](40) NULL,
	[Producto] [nvarchar](200) NULL,
	[Marca] [nvarchar](120) NULL,
	[Talla] [nvarchar](40) NULL,
	[Kgs] [decimal](18, 2) NULL,
	[Cajas] [int] NULL,
 CONSTRAINT [PK_Carga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hd].[Catalogo]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Catalogo](
	[Id] [nvarchar](50) NOT NULL,
	[Producto] [nvarchar](200) NULL,
	[Talla] [nvarchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hd].[Empresa]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Empresa](
	[EmpresaId] [int] IDENTITY(1000,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__Empresa__7B9F2116CE62F461] PRIMARY KEY CLUSTERED 
(
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_hd_Empresa_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hd].[Puesto]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Puesto](
	[PuestoId] [int] IDENTITY(1000,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
 CONSTRAINT [PK__Puesto__F7F6C604DDDD16FB] PRIMARY KEY CLUSTERED 
(
	[PuestoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_hd_Puesto_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hd].[SLA]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[SLA](
	[SLAId] [int] IDENTITY(1000,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[TiempoDeRespuesta] [int] NOT NULL,
 CONSTRAINT [PK__SLA__2848A209F9197070] PRIMARY KEY CLUSTERED 
(
	[SLAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_hd_SLA_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hd].[Ticket]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Ticket](
	[TicketId] [int] IDENTITY(1000,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Asunto] [nvarchar](300) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estatus] [tinyint] NOT NULL,
	[Prioridad] [tinyint] NOT NULL,
	[AgenteId] [int] NULL,
	[ParaUtc] [datetime2](3) NULL,
	[Sla] [int] NULL,
	[CreadoUtc] [datetime2](3) NOT NULL,
	[ActualizadoUtc] [datetime2](3) NOT NULL,
	[CerradoUtc] [datetime2](3) NULL,
	[Adjuntos] [nvarchar](max) NULL,
 CONSTRAINT [PK__Ticket__712CC607F0D7B216] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [hd].[Usuario]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hd].[Usuario](
	[UsuarioId] [int] IDENTITY(1000,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[ApPaterno] [nvarchar](50) NULL,
	[ApMaterno] [nvarchar](50) NULL,
	[Correo] [nvarchar](256) NOT NULL,
	[Contacto] [varchar](25) NULL,
	[Empresa] [int] NULL,
	[Puesto] [int] NULL,
	[SLA] [int] NULL,
	[Activo] [bit] NOT NULL,
	[CreadoEn] [datetime2](7) NOT NULL,
	[CreadoPor] [int] NULL,
	[ActualizadoEn] [datetime2](7) NULL,
	[ActualizadoPor] [int] NULL,
	[PasswordHash] [varbinary](32) NULL,
	[Estatus] [bit] NULL,
	[PasswordSalt] [varbinary](16) NULL,
 CONSTRAINT [PK__Usuario__2B3DE7B886C34685] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Usuario__60695A19BDF15318] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carga_Container]    Script Date: 24/03/2026 05:16:00 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Carga_Container] ON [hd].[Carga]
(
	[Container] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carga_Contract]    Script Date: 24/03/2026 05:16:00 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Carga_Contract] ON [hd].[Carga]
(
	[Contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carga_ETD_ETA]    Script Date: 24/03/2026 05:16:00 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Carga_ETD_ETA] ON [hd].[Carga]
(
	[ETD] ASC,
	[ETA] ASC
)
INCLUDE([Container],[Puerto],[Naviera]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carga_FechaCompra]    Script Date: 24/03/2026 05:16:00 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Carga_FechaCompra] ON [hd].[Carga]
(
	[FechaCompra] ASC
)
INCLUDE([Proveedor],[Origen],[Puerto],[Naviera],[Kgs],[Cajas]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carga_Pedimento]    Script Date: 24/03/2026 05:16:00 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Carga_Pedimento] ON [hd].[Carga]
(
	[Pedimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [hd].[Agente] ADD  CONSTRAINT [DF_Agente_tAbiertos]  DEFAULT ((0)) FOR [tAbiertos]
GO
ALTER TABLE [hd].[Carga] ADD  CONSTRAINT [DF_Carga_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [hd].[SLA] ADD  CONSTRAINT [DF_SLA_Prioridad]  DEFAULT ((5)) FOR [TiempoDeRespuesta]
GO
ALTER TABLE [hd].[Ticket] ADD  CONSTRAINT [DF__Ticket__CreadoUt__17F790F9]  DEFAULT (sysutcdatetime()) FOR [CreadoUtc]
GO
ALTER TABLE [hd].[Ticket] ADD  CONSTRAINT [DF__Ticket__Actualiz__18EBB532]  DEFAULT (sysutcdatetime()) FOR [ActualizadoUtc]
GO
ALTER TABLE [hd].[Usuario] ADD  CONSTRAINT [DF__Usuario__Activo__6B24EA82]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [hd].[Usuario] ADD  CONSTRAINT [DF__Usuario__CreadoE__6C190EBB]  DEFAULT (sysutcdatetime()) FOR [CreadoEn]
GO
ALTER TABLE [hd].[Usuario] ADD  CONSTRAINT [DF_Usuario_Estatus]  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [hd].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Assignee] FOREIGN KEY([AgenteId])
REFERENCES [hd].[Agente] ([agenteId])
GO
ALTER TABLE [hd].[Ticket] CHECK CONSTRAINT [FK_Ticket_Assignee]
GO
ALTER TABLE [hd].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Requester] FOREIGN KEY([UsuarioId])
REFERENCES [hd].[Usuario] ([UsuarioId])
GO
ALTER TABLE [hd].[Ticket] CHECK CONSTRAINT [FK_Ticket_Requester]
GO
ALTER TABLE [hd].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_ActualizadoPor_Agente] FOREIGN KEY([ActualizadoPor])
REFERENCES [hd].[Agente] ([agenteId])
GO
ALTER TABLE [hd].[Usuario] CHECK CONSTRAINT [FK_Usuario_ActualizadoPor_Agente]
GO
ALTER TABLE [hd].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_CreadoPor_Agente] FOREIGN KEY([CreadoPor])
REFERENCES [hd].[Agente] ([agenteId])
GO
ALTER TABLE [hd].[Usuario] CHECK CONSTRAINT [FK_Usuario_CreadoPor_Agente]
GO
ALTER TABLE [hd].[Carga]  WITH NOCHECK ADD  CONSTRAINT [CK_Carga_MontosNonNegative] CHECK  ((([MontoUSDDemoras] IS NULL OR [MontoUSDDemoras]>=(0)) AND ([TCDemoras] IS NULL OR [TCDemoras]>=(0)) AND ([MontoDemorasMXN] IS NULL OR [MontoDemorasMXN]>=(0)) AND ([Kgs] IS NULL OR [Kgs]>=(0)) AND ([Cajas] IS NULL OR [Cajas]>=(0)) AND ([DiasGeneradosDemoras] IS NULL OR [DiasGeneradosDemoras]>=(0))))
GO
ALTER TABLE [hd].[Carga] CHECK CONSTRAINT [CK_Carga_MontosNonNegative]
GO
/****** Object:  Trigger [hd].[trg_Usuario_SetActualizadoEn]    Script Date: 24/03/2026 05:16:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [hd].[trg_Usuario_SetActualizadoEn]
ON [hd].[Usuario]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    /* If ONLY ActualizadoEn was changed, do nothing.
       Otherwise stamp ActualizadoEn for all rows updated. */

    IF NOT UPDATE(ActualizadoEn)
    
    BEGIN
        UPDATE u
        SET    u.ActualizadoEn = SYSUTCDATETIME()
        FROM   hd.Usuario AS u
        INNER JOIN inserted AS i
                ON u.UsuarioId = i.UsuarioId;
    END
END
GO
ALTER TABLE [hd].[Usuario] ENABLE TRIGGER [trg_Usuario_SetActualizadoEn]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valores 1-10' , @level0type=N'SCHEMA',@level0name=N'hd', @level1type=N'TABLE',@level1name=N'SLA', @level2type=N'COLUMN',@level2name=N'TiempoDeRespuesta'
GO
